<h1>Afegeix un nou jugador</h1>
<section class="lil-form-container">
  <%= form_for @player do |f| %>
    <%= f.label :name, "Nom" %>
    <%= f.text_field :name, class: "form-control", autofocus: true %><br />
    <%= f.submit "Afegir", :disable_with => 'Afegint...', class: "btn btn-primary" %>
  <% end %>
</section>